@import "../../../css/_util";

$break-large: 1440px;
$break-medium: 1024px;
$break-small: 800px;
@mixin respond-to($media) {
  @if $media == mobile-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == small-screens {
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.titleCell {
  @include respond-to(mobile-screens) {
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
    padding: 10px;
    font-size: 25px;
  }
  @include respond-to(small-screens) {
    padding: 5px;
    font-size: 18px;
  }
  @include respond-to(medium-screens) {
    padding: 5px;
  }
  @include respond-to(large-screens) {
    padding: 5px;
  }
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 2 0 0%;
  padding: 5px;
  font-size: 16px;
  &.small{
    flex: 1 0 0%;
  }
  &.medium {
    flex: 3 0 0%;
  }
  &.big {
    flex: 4 0 0%;
  }
  &.hover {
    opacity: 0.7;
  }
  button {
    @extend .normalize-button;
    p {
      display: inline-block;
      font-weight: bold;
    }
    img {
      padding-left: 10px;
      width: 20px;
      height: 10px;
    }
  }
}
