@import "../../../css/_util";

.titleCell {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 2 0 0%;
  &.small{
    flex: 1 0 0%;
  }
  &.medium {
    flex: 3 0 0%;
  }
  &.big {
    flex: 4 0 0%;
  }
  &.hover {
    opacity: 0.7;
  }
  button {
    @extend .normalize-button;
    p {
      display: inline-block;
      font-weight: bold;
      font-size: 16px;
    }
    img {
      padding-left: 10px;
      width: 20px;
      height: 10px;
    }
  }
}
